folium==0.12.1
streamlit_folium==0.4.0
pandas==1.1.5
numpy==1.20.1
streamlit==0.87.0

folium_static
glob
os
seaborn
plotly.express
matplotlib.pyplot
requests
json
geopy.geocoders 
geopy
geopy.distance 
distance
math
statistics
base64
geopandas
GeoDataFrame
branca.colormap

json
geojson
matplotlib
time 
